In [338]:
import numpy as np
import pandas as pd

In [339]:
coor = pd.read_excel("yar_wells_itog.xlsx")
coor

           Well          X           Y
0     Az_001_V1  616928.21  6430450.45
1     Az_003_P1  617900.55  6432211.52
2     Az_002_V1  609291.53  6433179.62
3     Az_017_V1  606402.01  6443324.56
4     Az_007_V1  612531.76  6436362.62
...         ...        ...         ...
1038  Az_794_H1  611579.79  6433714.57
1039  AZ_423_H1  608241.59  6435829.54
1040  Ay_077_V1  627437.99  6430998.79
1041  Ay_072_V1  615272.52  6451415.53
1042  Za_201_P1  630524.91  6441918.69

[1043 rows x 3 columns]

In [340]:
lst = list(coor["Well"].apply(lambda x:x.split("_")))
well = pd.DataFrame(lst, columns=["Field", "Number", "Type"])
well["Type"] = well["Type"].apply(lambda x:int(x[1]))

In [341]:
well[["X", "Y"]] = coor[["X", "Y"]]

In [342]:
well

     Field Number  Type          X           Y
0       Az    001     1  616928.21  6430450.45
1       Az    003     1  617900.55  6432211.52
2       Az    002     1  609291.53  6433179.62
3       Az    017     1  606402.01  6443324.56
4       Az    007     1  612531.76  6436362.62
...    ...    ...   ...        ...         ...
1038    Az    794     1  611579.79  6433714.57
1039    AZ    423     1  608241.59  6435829.54
1040    Ay    077     1  627437.99  6430998.79
1041    Ay    072     1  615272.52  6451415.53
1042    Za    201     1  630524.91  6441918.69

[1043 rows x 5 columns]

In [343]:
# well = well[["Field","Number","Type", "X", "Y"]].groupby(["Field", "Number"]).aggregate({"Type":"max", "X":"last", "Y":"last"})

itog = well[["Number","Type"]].groupby(["Number"]).max().reset_index()
df:pd.DataFrame =pd.DataFrame({"Field":[], "Number":[], "Type":[], "X":[], "Y":[]})

# well[(well["Number"]==itog.iloc[i].Number) & (well["Type"]==itog.iloc[i].Type)]

for i in range(len(itog)-1):
    df.loc[i]=well[(well["Number"]==itog.iloc[i].Number) & (well["Type"]==itog.iloc[i].Type)]

ValueError: cannot set a row with mismatched columns