In [19]:
import numpy as np
import pandas as pd

In [20]:
coor = pd.read_excel("yar_wells_itog.xlsx")
coor

           Well          X           Y
0     Az_001_V1  616928.21  6430450.45
1     Az_003_P1  617900.55  6432211.52
2     Az_002_V1  609291.53  6433179.62
3     Az_017_V1  606402.01  6443324.56
4     Az_007_V1  612531.76  6436362.62
...         ...        ...         ...
1038  Az_794_H1  611579.79  6433714.57
1039  AZ_423_H1  608241.59  6435829.54
1040  Ay_077_V1  627437.99  6430998.79
1041  Ay_072_V1  615272.52  6451415.53
1042  Za_201_P1  630524.91  6441918.69

[1043 rows x 3 columns]

In [21]:
lst = list(coor["Well"].apply(lambda x:x.split("_")))
well = pd.DataFrame(lst, columns=["Field", "Number", "Type"])
well["Type"] = well["Type"].apply(lambda x:int(x[1]))

In [22]:
well[["X", "Y"]] = coor[["X", "Y"]]

In [23]:
well.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043 entries, 0 to 1042
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Field   1043 non-null   object
 1   Number  1043 non-null   object
 2   Type    1043 non-null   int64
 3   X       1043 non-null   float64
 4   Y       1043 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 40.9+ KB

In [24]:
well = well[["Field","Number","Type", "X", "Y"]].groupby(["Field", "Number"]).max()
well.to_excel("yar_dob.xlsx")